
//checkout

.checkout{
    .container-fluid{
        .checkout-header{
            .checkout-link{

            }
            .checkout-text{

            }
        }
        .checkout-title{

        }
        .checkout-input{
            background: #FFFFFF;
/* Gray 4 */

border: 1px solid #BDBDBD;
border-radius: 4px;
        }
    }
}
